**/__pycache__/*
**/logs/*
**/cscope.*/*
build/
build_dbg/
inference/
llvm-project/
mlperf_plugins/onednn
mlperf-rnnt-librispeech
pytorch/
third_party/
**/*.csv
**/*.log
**/*.pt
**/*.swp
**/*.txt
.vscode
.gdb_history
*.patch
