**/__pycache__/*
**/logs/*
**/cscope.*/*
build/
build_dbg/
inference/
llvm-project/
mlperf_plugins/onednn
mlperf-rnnt-librispeech
pytorch/
tests/
third_party/
**/*.csv
**/*.log
**/*.pt
**/*.swp
**/*.txt
.clang-format
.gdb_history
.vscode
*.patch
